
.App-logo {
  height: 15vh;
  pointer-events: none;
  border-radius: 30px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.container{
  width: 1140px;
  margin: 0  auto;
  padding-right: 25px;
  padding-left: 25px;
  position: relative;
}

.seccion{
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: -15px;
  margin-right: -15px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left:  -15px; 
  /* margin-right: -15px; */
}

footer.seccion{
  background-color:rgb(0, 135, 162);
  color: white;
  padding-bottom: 0;
}

footer  .barra-footer{
  background-color: grey;
  text-align: center;
  padding-right: 15px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  color: white;
  margin-bottom: 30px;
}

footer a {
  color: white;
  
}

footer .logo-footer{
  width: 75%;
  border-radius: 30%;
}

footer ul{
  padding-left: 0;
  list-style: none;
  margin: 0;
}

footer ul li{
  margin-bottom: 5px;
}

footer .redes{
  font-size: 30px;
  display: flex;
  justify-content: center;
}

footer .redes  a{
  margin: 0 7.5px;
}

.columna{
  padding-left: 15px;
  padding-right: 15px;
}

.columna-25{
  width: 25%;
}

footer .RD{
    margin-left: 10px;
}

@media (max-width: 767px){
  
  .columna-mobile-100{
    width: 100%;}

    footer .redes{
      font-size: 30px;
      display: flex;
    }

    footer{
      text-align: center;
  }

  footer .logo-footer {
      width: 50%;
  }

  footer  .redes{
      justify-content: center;
  }
}